*.so
*.a
*.pyc
*.bc
cpp/Debug/*
cpp/Release/*
.qmake.stash
*.plist
cpp/Makefile
cpp/moc_*.cpp
cpp/qrc_*.cpp
cpp/ui_*.h
cpp/project.pbxproj
cpp/qt_makeqmake.mak
cpp/qt_preprocess.mak
cpp/RisWidget.build/*
*.pch*
*.sbf
cpp/RisWidget.xcodeproj/*
sip_ris_*.cpp
sipAPI_ris_widget.h
ris_widget.vpw
ris_widget.vpwhistu
ris_widget.vtg
build/
top_left.npy
moc_*.cpp
*.xcodeproj
*.build
Debug